/*
Azul fuertezon #1a535c
Azul ahí mas menos hijo #00afb9
Beige #fdfcdc
Pielecita #fed9b7
Salmón #f07167
*/


html{
  font-family: 'Rokkitt', serif;
}
a{
  text-decoration: none;
  color: #d500f9;
}
img{
  max-width: 100%;
}
a:hover{
  opacity: 0.2;
}

a:active{
  background: red;
}

.title{
  text-transform: uppercase;
  text-align: center;
}

.container{
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh; /* vh es todo el tamaño de la pantalla, no manches owo*/
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8em
}

.content{
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background-color: #fff;
  /*box-shadow: diferencia Horizontal, diferencia Vertical, desenfoque, amplitud y color:*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative;
  overflow:scroll;
}

.content{
  padding: 1em;
}
td{
  display: block;
  width: 100%;
}
td:nth-of-type(1){
  font-size: 1.5em;
  font-weight: bold;
  color: #1a535c
}
th{
  display: none;
}

.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}

.close{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #f07167;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0, 0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph{
  line-height: 1.8em;
  font-weight: 200;
}

.fa-star{
  color:#ffc400
}

.fa-star-half{
  color:#ffc400
}

.table{
  width: 100%;
  border-spacing: 0;
}
.table td, .table th {
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
  background-color:  #00afb9 ;
}


.title-item{
  /*border-bottom-style: solid;
  border-width: 4px;
  border-color: #fed9b7;*/
  font-size: 2em;
  border-bottom: solid 2px  #fed9b7;
  padding-bottom: 1em;
}

.address{
  font-weight: bold;
  color: #1a535c;
  font-size: 1.2em;
  margin-top: 1em;
  display: inline-block;
}

.main-images{
  float: left;
  margin-right: 1em;
  height: 250px;
}

.position{
  background-color: #fed9b7;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
}

@media (min-width:800px){
  th{
    display: table-cell;
  }
  td{
    width: auto;
    display: table-cell;
  }
  td:nth-of-type(1){
    font-size: 1em;
  }
    .content{

      padding: 1.8em;
    }

}


@media (min-height:550px) {
  .content{
    height: 500px;
  }
}
